${ /* role to be applied at vcenter level. Giving required permissions for DKP */"" }

Sessions.ValidateSession ${ /* needed for vsphere csi */"" }
StorageProfile.View ${ /* needed for vsphere csi */"" }
Cns.Searchable ${ /* needed for vsphere csi */"" }
